@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-siembg text-slate-300 m-0 p-0;
  }
}

/* Custom Scrollbar for dark theme */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #0F111A; 
}
::-webkit-scrollbar-thumb {
  background: #2D3343; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3B4252; 
}
